<table align="center" class="primaryTable" style=" vertical-align: middle; background-image:url('{{ absolute_url(asset('img_mail/background-mail-sebi-la-gazelle.png')) }}');background-repeat:repeat-y;background-position:center;background-color:#FAF7F1;width:100%;">
    <tbody  align="center">
        <tr style="vertical-align: middle; ">
            <td>
                <p>&nbsp</p>
            </td>
            <td class="contentMail">
                <div>
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <td style="font-size:15px;vertical-align:top;color:#1B334F;line-height:150%;text-align:center;">
                                    <a href="">
                                        <img src="{{ absolute_url(asset('img_mail/logo.png')) }}" style="width: 10%; margin: auto;" alt="logo du site sebi la gazelle">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <table style=" vertical-align: middle;">
                    <tbody>
                        <tr style="color:#1B334F; background:rgba(15, 227, 15, 0.098);border-radius: 10px; ">
                            <td style="margin:auto;">
                                <h1 style="text-align:center; color:#1B334F; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Activation de votre compte</h1>
                            </td>                            
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td style="color:#1B334F; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                                                <p>Bonjour {{ user.username }},</p>
                                                {# <p>Bonjour toto,</p> #}
                                                {# <p>Vous avez fait un demande d'incription sur le site de jeux en ligne Sebi la gazelle avec l'email suivant : toto@test.fr</p> #}
                                                <p>Vous avez fait un demande d'incription sur le site de jeux en ligne Sebi la gazelle avec l'email suivant : {{ user.email }}</p>
                                                <p>Votre inscription est à valider en cliquant sur le lien ci-dessous : </p>
                                                <p style="text-align:center; margin:40px 0;">
                                                    <a href="{{ absolute_url(path('app_user_signup', {token: token})) }}" style=" padding:10px 20px; background-color:#1B334F; color:#FFFFFF; text-decoration:none; border-radius:5px;">Le lien d'activation</a>
                                                </p>
                                                {# <table>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table> #}

                                                {# <p style="text-align:center;">
                                                    <a href="{{ absolute_url(path('app_user_signup', {token: token})) }}" style=" padding:10px 20px; background-color:#1B334F; color:#FFFFFF; text-decoration:none; border-radius:5px;">Le lien d'activation</a>
                                                </p> #}
                                                {# <a href="{{ absolute_url(path('app_user_signup', {token: token})) }}">Le lien d'activation</a> #}
                                                {# <a href="">Le lien d'activation</a> #}

                                                <p>Attention, ce lien d'activation a une durée de validité limitée à 24 heures.</p>

                                                <p>Cordialement,</p>
                                                <p>Sebi la gazelle :) !</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <hr>
                            </td>
                        </tr>
                        <tr>
                            <td style="color:#1B334F; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                                <p style="text-align:center;">Ce message a été envoyé automatiquement par les studios de développement de Sebi la gazelle.</p>
                                <p style="text-align:center;">Sebi la gazelle, Paris, 01 40 09 70 67.</p>
                                <p style="text-align:center;">2 Rue Saint-Blaise, 75020 Paris, France</p>
                            </td>
                        </tr>
                    </tbody>
                
                </table>
            </td>
            <td>
                <p>&nbsp</p>
            </td>
        </tr>
    </tbody>
</table>




{# <img src="{{ absolute_url(asset('img_mail/logo.png')) }}" alt="logo du site sebi la gazelle"> #}

